[Desktop Entry]
Name=Signal Analyzer
Comment=Signal analysis application
Exec=singal_analyzer
Icon=icon
Terminal=false
Type=Application
Categories=Utility;
